<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-mangopay"
    version="0.0.1">

    <name>Mangopay</name>

    <description>Cordova Mangopay Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,mangopay</keywords>

    <js-module src="www/Mangopay.js" name="Mangopay">
		<clobbers target="Mangopay" />
    </js-module>

    <engines>
		<engine name="cordova" version=">=3.0.0" />
		<engine name="cordova-ios" version=">=3.5.0" />
        <engine name="cordova-android" version=">=3.5.0" />
    </engines>

	<!-- ios -->
	<platform name="ios">
        <framework custom="true" src="src/ios/mangopay.framework" />

        <config-file target="config.xml" parent="/*">
            <feature name="Mangopay">
                <param name="ios-package" value="Mangopay" />
            </feature>
        </config-file>

        <header-file src="src/ios/Mangopay.h" />
		<source-file src="src/ios/Mangopay.m" />
	</platform>
	
	<!-- android -->
    <platform name="android">
		<source-file src="src/android/Mangopay.java" target-dir="src/hu/taracque/cordova/plugin" />

        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
    </platform>

	<!-- browser -->
    <platform name="browser">
		<config-file target="config.xml" parent="/*">
            <feature name="Mangopay">
                <param name="browser-package" value="Mangopay" />
            </feature>
        </config-file>

        <js-module src="src/browser/Mangopay.js" name="Mangopay">
			<runs />
        </js-module>
    </platform>
</plugin>
